*{
    padding:0;
    margin:0;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins' ;
}

/*======== navbar start ======== */
.navbar-brand {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #4A4A4A;
    transition:all linear .3s;
}
.navbar-brand:hover{
    color:#289BDE;
}
.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #777777;
    margin-left:20px;
    transition:all linear .3s;
}
.nav-link:hover{
    color:#289BDE;
}
.btn-outline-success{
    font-weight: 500;
    font-size: 20px;
    color:#289BDE;
    border-color: #289BDE;
    padding:5px 20px;
    transition:all linear .3s;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #289BDE;
    border-color: #289BDE;
}
/*======== banner start ======== */
#banner{
    margin-bottom: 50px;
}
.overlay{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.486);
    z-index: 999;
}
.banner-text{
    text-align: center;
    padding-top:182px;
    padding-bottom: 182px;


}
.banner-text h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
    padding:10px 120px;

}
.banner-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #F4F4F4;
    padding:0px 205px;
    padding-bottom: 25px;
}
.banner-text a{
    padding:10px 20px;
    border-radius: 5px;
    background: #289BDE;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.carousel-control-prev{
    z-index: 99999;
}
.carousel-control-next{
    z-index: 99999;
}
/*=======  discover part start =========*/
#discover{
    margin-bottom: 130px;
}
.discover-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
    padding:10px 230px;
}
.discover-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #777777;
    padding:0px 235px;
    margin-bottom: 50px;
}
/*=========== explore part start =============*/
#explore{
    margin-bottom: 130px;
}
.explore-text-main{
    padding-top:50px;
}
.explore-counter{
    margin-bottom: 30px;
}
.explore-text h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}

.explore-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
.explore-counter h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
}
.explore-counter p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #777777;
    text-align: center;
}
.explore-button a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    background:#289BDE;
    border-radius: 5px;
    margin-top:10px;
    margin-left: 10px;
}

/*========== some part start ============*/
.some-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
}
.some-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #777777;
    padding:0px 235px;
    margin-bottom: 60px;
}
/*============ ready part start =============*/
#ready{
    margin-bottom: 110px;
}
.ready-part{
    background: #289BDE;
}
.ready-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
}
.ready-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #F4F4F4;
}
.ready-btn{
    text-align: center;
    margin-left: 140px;
}
.ready-btn a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    color: #289BDE;
    padding:10px 20px;
    background: #ffffff;
    margin-left:150px;
    
}
.btn-primary{
    color: #289BDE;
    background-color: #ffffff;
    padding:10px 20px;
    font-weight: 500;
    font-size: 20px;
    transition: all linear .3s;
}

/*=========== Discover card start ==========*/
.card-btn a{
    font-family: 'Poppins';
    padding: 13px 33px;
    background:#289BDE;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border-radius:5px;
}
/*======= asked text start ======= */
#asked{
    margin-top:80px;
    margin-bottom: 130px;
}
.asked-text h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
}
.asked-text p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding:0px 235px;
    margin-bottom:50px;
}
.accordion-button {
    padding: 2rem 1.25rem;
    font-weight: 600;
}
/*=============  trusted part ===========*/
#trusted{
    margin-bottom: 130px;
}
.trusted-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 50px;
}
/*========= footer start ==========*/
#footer-main{
    padding:130px 0px;
    background: #161616;
}
.footer-text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}
.footer-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #E8E8E8;
}
.footer-text h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 126%;
    color: #E8E8E8;
    text-align: center;
}
.footer-icon{
    text-align:center;
}
.footer-icon a{
    color:#ffffff;
    margin-left: 10px;
}